/*body {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
h4 {
  margin-bottom: 4px;
}
.container {
  overflow: hidden;
}
.content {
  width: 600px;
  float: left;
}
#console {
  float: right;
  border-left: 1px solid #CCC;
  padding-left: 12px;
  text-align: right;
}*/
